a {
    color: white;
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

img{
  height: 400px;
  width: auto;
  border-radius: 10px;
}

  .card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: inherit; 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    max-width: 90%;
    padding: 30px;
  }

  h1 {
    font-size: 34px;
    color: #333; 
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .nav-pills{
    margin-bottom: 20px;
  }

  .nav-pills li:active{
    border-color: black;
    border-radius: 8px;
  }

  .nav-pills li {
    margin-bottom: 20px;
    color: grey;
    padding: 8px;
    margin: 2px;
  }


  .addBtn {
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    width: 50%;
    padding: 5px;
  }
